
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Dashboard</title>
    </head>
    <body>
        <div id="Apps">
            <h2 style="text-align:center">Welcome, USER NAME</h2>
            <p style="text-align:center">
                We decided to create powerful but simple to use apps that can help your company excel.
            </p>
            <div class="row" style="text-align:justify">
                <div class="col-md-4" id="Rota">
                    <img src="~/Content/Images/home/rota.png" style=" padding-top:10px; padding-bottom:10px; width:auto; display:block; margin-left:auto; margin-right:auto;">
                    @Html.ActionLink("Start App", "Rota", "Dashboard", null, new { @class = "btn btn-primary" })
                </div>
                <div class="col-md-4" id="Messages">
                    <img src="~/Content/Images/home/messages.png" style=" padding-top:30px; padding-bottom:30px; width:auto; display:block; margin-left:auto; margin-right:auto;">
                    @Html.ActionLink("Start App", "UnderConstruction", "Dashboard", null, new { @class = "btn btn-primary" })
                </div>
                <div class="col-md-4" id="Meetings">
                    <img src="~/Content/Images/home/meetings.png" style=" padding-top:22px; padding-bottom:20px; width:auto; display:block; margin-left:auto; margin-right:auto;">
                    @Html.ActionLink("Start App", "UnderConstruction", "Dashboard", null, new { @class = "btn btn-primary" })
                </div>
            </div>
            <div class="row" style="text-align:justify">
                <div class="col-md-4" id="Ideas">
                    <img src="~/Content/Images/home/ideas.png" style="padding-top:20px; padding-bottom:20px; width:auto; display:block; margin-left:auto; margin-right:auto;">
                    @Html.ActionLink("Start App", "UnderConstruction", "Dashboard", null, new { @class = "btn btn-primary" })
                </div>
                <div class="col-md-4" id="Store">
                    <img src="~/Content/Images/home/store.png" style=" padding-top:18px; padding-bottom:18px;width:auto; display:block; margin-left:auto; margin-right:auto;">
                    @Html.ActionLink("Start App", "UnderConstruction", "Dashboard", null, new { @class = "btn btn-primary" })
                </div>
                <div class="col-md-4" id="Updates">
                    <img src="~/Content/Images/home/update.png" style=" padding-top:22px; padding-bottom:22px;width:auto; display:block; margin-left:auto; margin-right:auto;">
                    @Html.ActionLink("Start App", "UnderConstruction", "Dashboard", null, new { @class = "btn btn-primary" })
                </div>
            </div>
    </body>
</html>
