@model ReadySetResource.Areas.Apps.ViewModels.Dashboard.BusinessSettingsViewModel
@{
    ViewBag.Title = "Business Settings";
    Layout = "~/Areas/Apps/Views/Shared/_Layout.cshtml";
}

<h2>Business Settings</h2> 
@Model.ErrorMessage

<div class="col-md-6 animated fadeInUp" style="animation-duration:2s">
    <h3>
        Employee Types
        @Html.ActionLink("Add Type", "AddType", "Dashboard", null, new { @class = "btn btn-default" })
    </h3>
    <table id="rota">
        <tbody>
            @foreach (var type in Model.BusinessUserTypes)
            {
                <tr>
                    <td>@type.Name</td>
                    <td>@Html.ActionLink("Edit", "EditType", new { type = type.Id })</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="col-md-6 animated fadeInUp" style="animation-delay:1s; animation-duration:2s">
    <h3>
        Employees
        @Html.ActionLink("Add Employee", "AddUser", "Dashboard", null, new { @class = "btn btn-default" })
    </h3>
    <table id="rota">
        <tbody>
            @foreach (var employee in Model.Employees)
            {
                <tr>
                    <td>@employee.FirstName @employee.LastName</td>
                    @if (employee.EmailConfirmed == false)
                    {
                        <td>Pending(@employee.BusinessUserType.Name)</td>
                    }
                    else
                    {
                        <td>@employee.BusinessUserType.Name</td>
                    }
                    
                    <td>@Html.ActionLink("Edit", "EditUser", new { employee.Id })</td>
                </tr>
            }
        </tbody>
    </table>
</div>