@model ReadySetResource.ViewModels.Account.InviteViewModel

@{
    Layout = null;
}

<!DOCTYPE html>


<style>
    body, html {
        height: 100%;
        margin: 0;
    }

    .bg {
        /* The image used */
        background-image: url("../../Content/Images/home/ExtendedChairBG.png");
        /* Full height */
        height: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    form {
        margin: 0 auto;
        width: 280px;
    }
</style>


<html>

<head>
    <title>New Password</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/animate.css">
</head>

<body class="bg" style="text-align:center; align-content:center;">

    <img style="width:200px" src="~/Content/Images/home/shortLogo.png" />

    <h1>Now enter your new password</h1>



    @using (Html.BeginForm("InviteSetPasswordPost", "Account"))
    {

        @Html.ValidationSummary(true, "The temporary password is incorrect, sorry.")

        <br>
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "New Password", style = "margin:2px" })
        
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password", style = "margin:2px" })




        @Html.ValidationMessageFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.ConfirmPassword)

        <br>

        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.NewUser.Id)
        @Html.HiddenFor(m => m.NewUser.Email)


        <button type="submit" class="btn btn-primary">Continue</button>
    }

    
</body>
</html>


