@model ReadySetResource.ViewModels.ShiftViewModel
@{

    Layout = "~/Areas/Apps/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Add Shift";
}

<h2>Add Shift</h2>

<div class="col-md-3">
    
    @Model.ErrorMessage

    @using (Html.BeginForm("AddShift", "Calendar"))
    {
        @Html.ValidationSummary(true, "Please fix the following errors.")
        <div class="form-group">
            @Html.LabelFor(m => m.TempDate)
            @Html.EditorFor(m => m.TempDate, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.TempDate)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.StartHour)
        </div>
        <div class="form-inline">
            @Html.TextBoxFor(m => m.StartHour, new { @class = "form-control", style = "width: 50px" }) :
            @Html.TextBoxFor(m => m.StartMinute, new { @class = "form-control", style = "width: 50px" })
        </div>
        <div class="form-group" style="padding-top:20px">
            @Html.LabelFor(m => m.EndHour)
        </div>
        <div class="form-inline">
            @Html.TextBoxFor(m => m.EndHour, new { @class = "form-control", style = "width: 50px" }) :
            @Html.TextBoxFor(m => m.EndMinute, new { @class = "form-control", style = "width: 50px" })
        </div>

        <div class="form-group" style="padding-top:20px">
            @Html.LabelFor(m => m.Employees)
            @Html.DropDownListFor(m => m.UserId, Model.Employees)
            @Html.ValidationMessageFor(m => m.Employees)
        </div>

        @Html.AntiForgeryToken()
        <p>
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default", style = "float:left" })
            <button type="submit" class="btn btn-primary" style="float:right">Save</button>
        </p>
        @Html.HiddenFor(m => m.EmployeesHolidays)
        
    }
</div>


@*Generating client side validation*@
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    jQuery(function ($) {
        $.validator.addMethod('date',
            function (value, element) {
                if (this.optional(element)) {
                    return true;
                }

                var ok = true;
                try {
                    $.datepicker.parseDate('dd/mm/yy', value);
                }
                catch (err) {
                    ok = false;
                }
                return ok;
            });
    });
</script>