@model ReadySetResource.Areas.Apps.ViewModels.Employees.EmployeesViewModel
@{
    ViewBag.Title = "Employee Types";
    Layout = "~/Areas/Apps/Views/Shared/_Layout.cshtml";
    int count = 0;
}

<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 100%;
        border-radius: 5px;
        word-wrap: break-word;
        overflow:hidden;
    }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

    img {
        border-radius: 5px 5px 0 0;
    }

    .container {
        padding: 2px 16px;
    }

    .center {
        margin: auto;
        width: 80%;
        padding: 10px;
    }
</style>

<h2>Employees</h2>
@Model.ErrorMessage


<body>
    @foreach (var user in Model.Users)
    {
        <a href="@Url.Action("Employee", new { user = user.Id })">

            <div class="col-md-3">
                <div class="center">
                    <div class="card">
                        <img src='@string.Format("/Content/Images/avitars/{0}.png", user.Avitar)' alt="@user.FirstName @user.LastName" style="width:100%">
                        <div class="container">
                            <h4><b>@user.FirstName @user.LastName</b></h4>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {
            count = count + 1;
        }
    }

    <a href="@Url.Action("AddUser")">

        <div class="col-md-3">
            <div class="center">
                <div class="card">
                    <img src="~/Content/Images/dashboard/addUser.png" alt="Add Employee Type" style="width:100%">
                    <div class="container">
                        <h4><b>Add Employee</b></h4>
                    </div>
                </div>
            </div>
        </div>
    </a>
</body>