@model ReadySetResource.Areas.Apps.ViewModels.Employees.BusinessUserTypesViewModel
@{
    ViewBag.Title = "Employee Types";
    Layout = "~/Areas/Apps/Views/Shared/_Layout.cshtml";
    int count = 0;
}

<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 100%;
        border-radius: 5px;
        word-wrap:break-word;
    }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

    img {
        border-radius: 5px 5px 0 0;
    }

    .container {
        padding: 2px 16px;
    }

    .center {
        margin: auto;
        width: 80%;
        padding: 10px;
    }
</style>

<h2>Employee Types</h2>
@Model.ErrorMessage


<body>
    @foreach (var type in Model.BusinessUserTypes)
    {
        <a href="@Url.Action("Employees", new { type = type.Id })">

            <div class="col-md-3">
                <div class="center">
                    <div class="card">
                        <div style="background-color:palevioletred; width:100%;height:40px;border-radius: 5px 5px 0 0;">
                            </div>
                        <div class="container">
                            <h4><b>@type.Name</b> </h4>
                            <p>

                                @Model.EmployeeCounts[count]

                                @if (@Model.EmployeeCounts[count] == 1)
                                {
                                    <text>Employee</text>
                                }
                                else
                                {
                                    <text>Employees</text>
                                }
                            </p>
                            <p>
                                @Html.ActionLink("Edit", "Edit", new { type = type.Id })
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {
            count = count + 1;
        }
    }

    <a href="@Url.Action("AddType")">

        <div class="col-md-3">
            <div class="center">
                <div class="card">
                    <img src="~/Content/Images/dashboard/addUser.png" alt="Add Employee Type" style="width:100%">
                    <div class="container">
                        <h4><b>Add Type</b></h4>
                    </div>
                </div>
            </div>
        </div>
    </a>
</body>