﻿@model ReadySetResource.ViewModels.BusinessSettingsViewModel
@{
    //ViewBag.Title = "BusinessInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Business Info</h2>

@using (Html.BeginForm("AddBusiness", "Get"))
{
    @Html.ValidationSummary(true, "Please fix the following errors.")
    <div class="form-group">
        @Html.LabelFor(m => m.Business.Name)
        @Html.TextBoxFor(m => m.Business.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Business.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Business.Type)
        @Html.DropDownListFor(m => m.Business.Type, Model.BusinessTypeOptions)
        @Html.ValidationMessageFor(m => m.Business.Type)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Business.AddressLine1)
        @Html.TextBoxFor(m => m.Business.AddressLine1, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Business.AddressLine1)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Business.AddressLine2)
        @Html.TextBoxFor(m => m.Business.AddressLine2, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Business.AddressLine2)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Business.Postcode)
        @Html.TextBoxFor(m => m.Business.Postcode, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Business.Postcode)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Business.Town)
        @Html.TextBoxFor(m => m.Business.Town, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Business.Town)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Business.Region)
        @Html.TextBoxFor(m => m.Business.Region, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Business.Region)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Business.Country)
        @Html.DropDownListFor(m => m.TempCountry, Model.CountryOptions)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Business.CardType)
        @Html.DropDownListFor(m => m.TempCardType, Model.CardTypeOptions)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Business.CardNumber)
        @Html.TextBoxFor(m => m.Business.CardNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Business.CardNumber)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Business.ExpiryMonth)
        @Html.DropDownListFor(m => m.Business.ExpiryMonth, Model.ExpiryMonthOptions)
        @Html.ValidationMessageFor(m => m.Business.ExpiryMonth)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Business.ExpiryYear)
        @Html.DropDownListFor(m => m.Business.ExpiryYear, Model.ExpiryYearOptions)
        @Html.ValidationMessageFor(m => m.Business.ExpiryYear)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Business.SecuriyNumber)
        @Html.TextBoxFor(m => m.Business.SecuriyNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Business.SecuriyNumber)
    </div>


    @Html.HiddenFor(m => m.Business.Id)
    @Html.HiddenFor(m => m.Business.StartDate)
    @Html.HiddenFor(m => m.Business.EndDate)
    @Html.HiddenFor(m => m.Business.Plan)
    @Html.AntiForgeryToken()

    <small>
        <p>
            By continuing you agree to our @Html.ActionLink("Terms and Conditions", "Index", "Legal"),
        </p>
        <p>
            you also agree that by selecting the
            @if (Request.Params["plan"] == "1") { <text>One Store</text> }
            else if (Request.Params["plan"] == "2") { <text>Chain</text> }
            else if (Request.Params["plan"] == "3") { <text>Enterprise</text> }
            else { Response.Redirect("~/"); }
            Plan,
        </p>
        <p> 
            you will be charged monthly at a rate of
            @if (Request.Params["plan"] == "1") { <text>£10</text> }
            else if (Request.Params["plan"] == "2") { <text>£20</text> }
            else if (Request.Params["plan"] == "3") { <text>£40</text> }
            else { Response.Redirect("~/"); }
        </p>
    </small>
    <button type="submit" class="btn btn-primary">Continue</button>
}
@*Generating client side validation*@
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}