@model ReadySetResource.ViewModels.SignUpViewModel
@{
    ViewBag.Title = "Manager Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <div style="text-align:center;">
        <h2>A little about you</h2>
        <p>Let's get to know the first (and best) employee of @Model.NewBusiness.Name</p>
    </div>

    @using (Html.BeginForm("AddManagerOne", "Get"))
    {
        @Html.ValidationSummary(true, "Please fix the following errors.")
        <div class="form-group">
            @Html.LabelFor(m => m.NewManager.Title)
            @Html.TextBoxFor(m => m.NewManager.Title, new { @class = "form-control" })
            @Html.TextBoxFor(m => m.NewManager.FirstName, new { @class = "form-control" })
            @Html.TextBoxFor(m => m.NewManager.LastName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.NewManager.Title)
            @Html.ValidationMessageFor(m => m.NewManager.FirstName)
            @Html.ValidationMessageFor(m => m.NewManager.LastName)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewManager.DateOfBirth)
            @Html.TextBoxFor(m => m.NewManager.DateOfBirth)
            @Html.ValidationMessageFor(m => m.NewManager.DateOfBirth)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewManager.Email)
            @Html.TextBoxFor(m => m.NewManager.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.NewManager.Email)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password)
            @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>

        @Html.HiddenFor(m => m.NewManager.Id)


        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-primary">Continue</button>
    }



    @*Generating client side validation*@
    @section scripts
{
        @Scripts.Render("~/bundles/jqueryval")

    }
