@model ReadySetResource.ViewModels.ManagerDetailsViewModel
@{
    ViewBag.Title = "Manager Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div style="text-align:center;">
        <h2>A little about you</h2>
        <p>Let's get to know the first (and best) employee of @Model.NewBusiness.Name</p>
    </div>



    @using (Html.BeginForm("AddManager", "Get"))
    {
        @Html.ValidationSummary(true, "Please fix the following errors.")
        <div class="form-group">
            @Html.LabelFor(m => m.NewManager.FirstName)
            @Html.TextBoxFor(m => m.NewManager.FirstName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.NewManager.FirstName)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewManager.LastName)
            @Html.TextBoxFor(m => m.NewManager.LastName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.NewManager.LastName)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewManager.DateOfBirth)
            @Html.TextBoxFor(m => m.NewManager.DateOfBirth)
            @Html.ValidationMessageFor(m => m.NewManager.DateOfBirth)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewManager.Email)
            @Html.TextBoxFor(m => m.NewManager.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.NewManager.Email)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewManager.BackupEmail)
            @Html.TextBoxFor(m => m.NewManager.BackupEmail, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.NewManager.BackupEmail)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewManager.PhoneNumber)
            @Html.TextBoxFor(m => m.NewManager.PhoneNumber, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.NewManager.PhoneNumber)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewManager.AddressLine1)
            @Html.TextBoxFor(m => m.NewManager.AddressLine1, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.NewManager.AddressLine1)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewManager.AddressLine2)
            @Html.TextBoxFor(m => m.NewManager.AddressLine2, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.NewManager.AddressLine2)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewManager.Postcode)
            @Html.TextBoxFor(m => m.NewManager.Postcode, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.NewManager.Postcode)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewManager.Sex)
            @Html.TextBoxFor(m => m.NewManager.Sex)
            @Html.ValidationMessageFor(m => m.NewManager.Sex)
        </div>


        @Html.HiddenFor(m => m.NewManager.Blocked)
        @Html.HiddenFor(m => m.NewManager.TimesLoggedIn)
        @Html.HiddenFor(m => m.NewManager.NIN)
        @Html.HiddenFor(m => m.NewManager.EmergencyContact)
        @Html.HiddenFor(m => m.NewManager.Raise)
        @Html.HiddenFor(m => m.NewManager.Strikes)


        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-primary">Save</button>
    }
</div>
    
@*Generating client side validation*@
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
        
}
